html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #5f5b55;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  --layout-border-color: #cccccc;
}

.user-column, .info-column {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 15em;
  max-width: 15em;
  height: 100%;
  overflow-y: auto;
}

.user-column {
  border-right: 1px solid var(--layout-border-color);
}

.canvas-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-column {
  border-left: 1px solid var(--layout-border-color);
}

#control-panel {
  padding: 1em;
  background-color: rgb(244, 244, 244);
  overflow-y: auto;
}

#advanced_panel {
  /* width: 30vh; */
  padding: 20px;
  background-color: rgb(244, 244, 244);
}

#canvas-container {
  width: auto;
  height: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#container {
  aspect-ratio: 1 / 1;
  border: 1px solid #636363;
  border-radius: 3px;
  overflow: hidden;
}

.sprite-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: #571792;
  color: #fff;
}

#footer {
  /* height: 10vh; */
  width: 100%;
  min-height: 90px;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  background-color: rgb(244, 244, 244);
  overflow: auto;
  border-color: #e4e7ed;
  border-width: 1px 0 0 0;
  border-style: solid;
}

#footer div {
  padding: 0.8em 0.8em 0 0.8em;
}

#footer svg {
  padding: 0 0 1em 1em;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #571792;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #571792;
  border-color: #571792;
}

.tutorial_btn {
  position: fixed;
  top: 80px;
  right: 0px;
  font-size: 20px;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #571792;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #571792;
  background: #571792;
}

.setting-item {
  display: flex;
  height: 30px;
  line-height: 30px;
  justify-content: space-between;
}

.el-tabs__item.is-active {
  color: #571792;
}

.el-tabs__active-bar {
  background-color: #571792;
}

.el-tabs__item:hover {
  color: #7d2dc8;
}

.query-row {
  display: flex;
  height: 54px;
  line-height: 54px;
}

#currHover {
  position: fixed;
  z-index: 1000;
  font-size: 14px;
  background-color: white;
  border: 1px solid #571792;
  padding: 10px;
  cursor: move;
  top: 70px;
  left: 320px;
  max-width: 300px;
  border-radius: 20px;
}

#hoverLabel {
  position: absolute;
  display: none;
  pointer-events: none;
  transform: translate(5px, -5px);
  font-size: 20px;
  color: black;
}

#fixedHoverLabel {
  position: absolute;
  display: none;
  color: green;
  font-size: 20px;
  pointer-events: none;
  font-weight: bold;
}

#visMethodInput {
  position: relative;
  top: 2vh;
}

.advanced-query-row {
  display: flex;
  height: 10vh;
  line-height: 10vh;
}

.switch-container {
  position: relative;
  height: 30px;
}

.el-switch__core {
  width: 50px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-input:checked+.switch-label {
  background-color: #5cb85c;
}

.el-switch__label.is-active {
  color: #7d2dc8;
}

.el-switch.is-checked .el-switch__core {
  border-color: #7d2dc8;
  background-color: #7d2dc8;
}

#resultContainer {
  max-height: 20vh;
  overflow-y: auto;
}

.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.modal-column {
  width: 38%;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

pre {
  background-color: #e8e8e8;
  padding: 0.5em;
  margin: 0.67em 0;
  border-radius: 5px;
  overflow-x: auto;
}

pre.highlight {
  background-color: #f0f0f0;
  border-radius: 5px;
  white-space: pre-wrap;
}

.highlight span {
  display: inline;
}

.hover-effect {
  transition: all 0.05s ease-in-out;
  /* Apply ease-in-out transition */
}

.hover-effect:hover {
  filter: brightness(130%);
}

#metadata {
  padding: 0.5em 1.5em;
  line-height: 1.5em;
  height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: small;
}


#tabs {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}

#tabs button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#tabs button.active {
  background-color: #007bff;
  color: white;
}

#container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

pre {
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-editor-font-family);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  border: 1px solid #ddd;
}

thead {
  background-color: #f4f4f4;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  padding: 12px 15px;
  font-weight: bold;
  font-size: 14px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.25s ease-in-out;
}

tbody td {
  padding: 10px 15px;
  font-size: 13px;
  color: #333;
  text-align: left;
}

tfoot {
  background-color: #f4f4f4;
  font-weight: bold;
  border-top: 2px solid #ddd;
}

tfoot td {
  padding: 10px 15px;
  font-size: 14px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0.5em;
}

::-webkit-color-swatch-wrapper {
  border-radius: 0.5em;
  border: 0;
  padding: 0;
  margin: 0;
}

::-webkit-color-swatch {
  border-radius: 0.5em;
  border: 0;
  padding: 0;
  margin: 0;
}

input:hover {
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.15);
}

#labelsSection>div:first-child {
  padding-bottom: 0.6em;
}

#labelsSection input[type="color"] {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

#labelList span {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}